@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1e1e1e;
  margin: 0;
  color: #f4f4f4;
  overflow: hidden;
}

.container {
  background: #2e2e2e;
  padding: 40px 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px #ffcc00, 0 0 20px #ffcc00, 0 0 30px #ffcc00,
    0 0 40px #ffcc00;
  text-align: center;
}

h1 {
  font-weight: 700;
  font-size: 2em;
  margin-bottom: 20px;
  color: #ffcc00;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

label {
  margin-top: 10px;
  text-align: left;
  width: 100%;
}

input,
select,
button {
  margin-top: 5px;
  padding: 10px;
  border: 2px solid #f4f4f4;
  border-radius: 8px;
  background: #1e1e1e;
  color: #f4f4f4;
  width: 100%;
  transition: all 0.3s ease;
}

input:focus,
select:focus,
button:focus {
  outline: none;
}

button {
  background-color: #ffcc00;
  color: #1e1e1e;
  cursor: pointer;
  border: none;
  font-weight: 700;
}

button:hover {
  background-color: #f4f4f4;
}

.download-links {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.download-links a {
  color: #1e1e1e;
  text-decoration: none;
  background-color: #ffcc00;
  padding: 10px 20px;
  border-radius: 8px;
  display: inline-block;
  font-weight: 700;
  transition: all 0.3s ease;
}

.download-links a:hover {
  background-color: #f4f4f4;
}

#qrImage {
  transition: transform 0.3s ease;
}

#qrImage:hover {
  transform: rotate(3deg) scale(1.05);
}
